#list1 .form-control {
	border-color: transparent;
}
#list1 .form-control:focus {
	border-color: transparent;
	box-shadow: none;
}
#list1 .select-input.form-control[readonly]:not([disabled]) {
	background-color: #fbfbfb;
}

.todo-card-border {
	border-radius: 0;
	background-color: #eff1f2;
}

.todo-link {
	color: #23af89;
}

.todo-checkbox {
	width: 1.4em;
	height: 1.4em;
	margin: 0 auto;
}
.todo-action {
	font-size: 1.4em;
	margin-right: 0.2em;
}
